[Desktop Entry]
Encoding=UTF-8
Exec=firefox %u
Icon=firefox
Type=Application
Terminal=false
MultipleArgs=false
Name=Nightly
GenericName=Web Browser
MimeType=text/html
StartupNotify=true
Categories=Application;Network;

